bigbus.checkout/Web References/EcrWServiceRefV3/Api1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bbcapi.ecr.io/3/Api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BBC3" />
  <xs:element name="ProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="ProductListRequest" nillable="true" type="q1:ProductListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="ProductListResult" nillable="true" type="q2:ProductListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailabilityCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="AvailabilityRequest" nillable="true" type="q3:AvailabilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailabilityCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="AvailabilityCheckResult" nillable="true" type="q4:AvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="BookingRequest" nillable="true" type="q5:BookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="BookingResult" nillable="true" type="q6:BookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingCancellation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="BookingCancellationRequest" nillable="true" type="q7:BookingCancellationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingCancellationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="BookingCancellationResult" nillable="true" type="q8:BookingCancellationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="BookingStatusRequest" nillable="true" type="q9:BookingStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BBC3" minOccurs="0" name="BookingStatusResult" nillable="true" type="q10:BookingStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>