bigbus.checkout/Web References/EcrServiceRef/Api0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bbcagents.ecr.bg/Api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="TourList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TourListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TourListResult" nillable="true" type="q1:TourListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Availability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AvailabilityResult" nillable="true" type="q2:AvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BookingRequest" nillable="true" type="q3:BookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BookingResult" nillable="true" type="q4:BookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingAmendment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierConfirmationNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BookingAmendmentRequest" nillable="true" type="q5:BookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingAmendmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BookingAmendmentResult" nillable="true" type="q6:BookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingCancelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierConfirmationNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingCancelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BookingCancelationResult" nillable="true" type="q7:BookingCancellationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierConfirmationNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>