bigbus.checkout/Service References/Ecr1ServiceRef/BBCTickets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefNo" type="xs:int" />
        <xs:element minOccurs="0" name="AuthNo" type="xs:int" />
        <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:int" />
        <xs:element minOccurs="0" name="TransactionOn" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefNo" type="xs:int" />
        <xs:element minOccurs="0" name="AuthNo" type="xs:int" />
        <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:int" />
        <xs:element minOccurs="0" name="TransactionOn" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutExResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>