bigbus.checkout.mvc/Web References/EcrApi3ServiceRef/Api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Api" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bbcapi.ecr.io/3/Api.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bbcapi.ecr.io/3/Api.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bbcapi.ecr.io/3/Api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BBC3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApi_ProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductList" />
  </wsdl:message>
  <wsdl:message name="IApi_ProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_AvailabilityCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityCheck" />
  </wsdl:message>
  <wsdl:message name="IApi_AvailabilityCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_Booking_InputMessage">
    <wsdl:part name="parameters" element="tns:Booking" />
  </wsdl:message>
  <wsdl:message name="IApi_Booking_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_BookingCancellation_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingCancellation" />
  </wsdl:message>
  <wsdl:message name="IApi_BookingCancellation_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_BookingStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingStatus" />
  </wsdl:message>
  <wsdl:message name="IApi_BookingStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IApi">
    <wsdl:operation name="ProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/ProductList" message="tns:IApi_ProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/ProductListResponse" message="tns:IApi_ProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailabilityCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/AvailabilityCheck" message="tns:IApi_AvailabilityCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/AvailabilityCheckResponse" message="tns:IApi_AvailabilityCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/Booking" message="tns:IApi_Booking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/BookingResponse" message="tns:IApi_Booking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingCancellation">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/BookingCancellation" message="tns:IApi_BookingCancellation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/BookingCancellationResponse" message="tns:IApi_BookingCancellation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/BookingStatus" message="tns:IApi_BookingStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/BookingStatusResponse" message="tns:IApi_BookingStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Api" type="tns:IApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProductList">
      <soap:operation soapAction="http://tempuri.org/IApi/ProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailabilityCheck">
      <soap:operation soapAction="http://tempuri.org/IApi/AvailabilityCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <soap:operation soapAction="http://tempuri.org/IApi/Booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingCancellation">
      <soap:operation soapAction="http://tempuri.org/IApi/BookingCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingStatus">
      <soap:operation soapAction="http://tempuri.org/IApi/BookingStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Api">
    <wsdl:port name="Api" binding="tns:Api">
      <soap:address location="http://bbcapi.ecr.io/3/Api.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>